h1{
  color: rgb(29, 53, 160);
  font-family: sans-serif;
}
img{
  border-radius: 20%;
  width: 30%;
}
p{
   font-size: 18px;
  background-color: #2AA5A0;
  background-image: linear-gradient(180deg, #53cbe3, #492aa5);
  background-clip: text;
  color: transparent;
  font-family: sans-serif;
}